@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

a {
  color: #8E8D8A;
}

body {
  background-color: #EAE7DC;
  color: #E85A4F;
  font-family: 'Montserrat', sans-serif;
}

.navlinks {
  color: #EAE7DC;
}

.btn {
  background-color: #E85A4F;
}

.btn:hover {
  background-color: #E98074;
}

.btn:active {
  background-color: #E85A4F;
}

.btn-primary {
  border-color: #EAE7DC;
}

#navbar {
  background: rgb(232,90,79);
  background: radial-gradient(circle, rgba(232,90,79,1) 35%, rgba(233,128,116,1) 100%);
  color: #FFFFFF;
}
