@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

a {
  color: #676767;
}

a:hover {
  color: #9FEDD7;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #EDEAE5;
  color: #026670;
}

img {
  max-height: 150px;
}

.card-img-top {
  min-height: 150px;
}

.optionCards {
  transition: 0.3s;
}

.optionCards:hover {
  box-shadow: 5px 10px 10px rgb(141, 141, 141);
}

.navlinks {
  color: #FFFFFF;
}

.btn {
  background-color: #026670;
  outline: none !important;
}

.btn:hover {
  background-color: #34848c;
  outline: none !important;
}

.btn:active {
  background-color: #026670;
  outline: none !important;
}

.btn-primary {
  outline: none !important;
  background-color: #026670;
}

.question-container {
  display: flex;
  justify-content: space-between;

}

.question-controls {
  align-self: flex-end;
}

.question-options{
  display: inline;
  margin: 2.5px;
}

#createSrvyCard {
  background-color: #FFFFFF;
}

#home-options {
  background-color: #EDEAE5;
  padding: 2rem;
  margin: auto;
}

#navbar {
  background: rgb(103,163,169);
  background: radial-gradient(circle, rgba(103,163,169,1) 2%, rgba(2,102,112,1) 100%);
  color: #FFFFFF;
  margin-bottom: 10px;
}

#tagline {
  color: #676767;
  padding-top: 5px;
}

#title-container {
  margin: auto;
  width: 100%;
  text-align: center;
}

#viewSrvyCard {
  background-color: white;
}
